<div class="callout large">
  <div class="row column text-center">
    <h1>아주대학교 주변 버스정류장의 버스도착정보 확인</h1>
    <p class="lead">AJBUS 웹에서 쉽게 열어서 확인하세요!</p>
    <a href="#stations" class="button large">정류장 리스트</a>
  </div>
</div>
<div class="callout alert" align="center">
  <h5>서비스 업데이트</h5>
  <p>홈페이지 개편, 폐선 노선 반영, 정류장 추가</p>
</div>
<section id="stations">
    <div class="row column text-center">
        <h1>정류장 리스트</h1>
        <div class="row column card">
            <h1>아주대.아주대병원입구.한국자산관리공사</h1>
            <a href="/station/203000066" class="large button">수원, 수지, 분당, 강남, 오산(202) 방향</a>
            <a href="/station/202000005" class="large button">수원, 화성, 오산(20) 방향</a>
        </div>
        <div class="row column card">
            <h1>광교중앙.아주대역환승센터</h1>
            <a href="/station/203000399" class="large button">수원월드컵경기장, 동수원IC 방향</a>
            <a href="/station/203000400" class="large button">상현역, 아주대병원동편, 광교호수공원 방향</a>
        </div>
        <div class="row column card">
            <h1>아주대입구</h1>
            <a href="/station/202000073" class="large button">[시내] 인계동, 매산로 방향</a>
            <a href="/station/203000179" class="large button">[시내] 영통, 신갈 방향</a>
            <a href="/station/202507420" class="large button">[시외] 수원종합버스터미널 방향</a>
            <a href="/station/203508250" class="large button">[시외] 신갈시외버스터미널 방향</a>
        </div>
        <div class="row column card">
            <h1>아주대병원</h1>
            <a href="/station/203000170" class="large button">영통 방향</a>
            <a href="/station/203000171" class="large button">우만동 방향</a>
        </div>
    </div>
</section>    
<hr>
<section>
    <div class="row colum card text-center">
        <br><br>
        <h1>광교에듀타운.아주대 및 창현고교.아주대.유신고교 정류장은 미지원</h1>
    </div> 
</section>
<hr>