<div class="callout large">
  <div class="row column text-center">
    <h1>아주대학교 주변 버스정류장의 버스도착정보 확인</h1>
    <p class="lead">AJBUS 웹에서 쉽게 열어서 확인하세요!</p>
    <a href="#stations" class="button large">정류장 리스트</a>
  </div>
</div>
<div class="callout alert" align="center">
  <h5>서비스 업데이트</h5>
  <p>홈페이지 개편, 폐선 노선 반영, 정류장 추가</p>
</div>
<section id="stations">
    <div class="row column text-center">
        <h1>정류장 리스트</h1>
        <% @stationInfo.each do |item| %>
        <div class="row column card">
            <h1><%= item['name'] %></h1>
            <% item['items'].each do |eItem| %>
            <a href="/station/<%= eItem['id'] %>" class="large button"><%= eItem['direction'] %></a>
            <% end %>
        </div>
        <% end %>
    </div>
</section>
<hr />